@media screen and (max-width: 419px) {
  .row {
    max-width: 419px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  #lezioni.container .row > .left,
  #lezioni.container .row > .right {
    width: 100%;
  }
}
