@media screen and (max-width: 419px) {
  body {
    margin: 0;
  }
  .container .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }
  #lezioni,
  #why {
    background-color: #f2f2cd;
  }
  #lezioni.container .row > .left,
  #lezioni.container .row > .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  #steps.container .row > .left,
  #steps.container .row > .central,
  #steps.container .row > .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  img[src*="search.svg"] {
    width: auto;
    margin: 0 auto;
  }
  .container img {
    height: 150px;
  }
}
